{% extends 'base.html' %}

{% block content %}
<nav class="menu">
		<ul>
			<li><a href="/router/index/">Home</a></li>
			<li><a href="/router/form/">Add Host</a></li>
			<li><a href="">Help</a></li>
		</ul>
</nav>
	
	<div class="content">
		<div id="first">
		<br></br>
	<h2>Choose Router </h2>
<form action='' method='post'> 
{% csrf_token %}

{% if allhosts %}

<select name="my_options"  >
	{% for item in allhosts %}
  <option value="{{item.host_name}}">{{item.host_name}}</option>

  {% endfor %}
  
</select>
<p> <input class="submit" type="submit" value="Connect"/></p>
{% endif %}



</form>
</div>
</div>
{% endblock %}