{% extends 'dashbord_base.html' %}
{% block content %}
<div class="contain">
	<br></br><h3 > HOST - {{ ip_addr }} </h3><br></br>
	<h4 > Select VRF Below To Show Routes </h3><br></br>
<form action='' method='post'> 
{% csrf_token %}

{% if allvrfs %}
<select name="my_options"  >
	{% for item in allvrfs %}
  <option value="{{item.vrf_name}}">{{item.vrf_name}}</option>

  {% endfor %}
  
</select>
<p> <input class="submit" type="submit" value="Show"/></p>


{% endif %}

</form>
</div>

{% endblock %}